// VARIABLES
$mainColor: #E50914;
$secondColor: #fff;
$brandFont: arial;
$maxWidthElements: 600px;
// /VARIABLES

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.img100 {
   width: 100%;
}

a {
   text-decoration: none;
   color: $secondColor;
}

:focus {
   outline: 0;
}

body {
   background-image: url("../img/jumbotron.jpg");
   background-size: cover;
   font-family: $brandFont;
}

#wrapper {
   height: 100vh;
   background: #000000bb;
}

#wrapper > header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 90px;
   padding: 0 40px;
}

header > .img-container {
   width: 170px;
}

header > .btn {
   font-size: 20px;
   background: $mainColor;
   padding: 10px 15px;
   border-radius: 5px;
}

#wrapper > main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: $mainColor;
   height: calc(100vh - 90px);
   text-align: center;
}

main > h1 {
   max-width: $maxWidthElements;
   margin-bottom: 10px;
   font-size: 45px;
}
main > h2 {
   margin-bottom: 20px;
   font-size: 27px;
}
main > h3 {
   margin-bottom: 20px;
   font-size: 18px;
   color: $secondColor;
}

main > .form-container {
   display: flex;
   width: $maxWidthElements;
   height: 60px;
}

.form-container > input {
   width: 70%;
   height: 100%;
   font-size: 16px;
   padding: 0 10px;
}

.form-container > a {
   width: 30%;
   height: 100%;
   line-height: 60px;
   font-size: 20px;
   background: $mainColor;
   text-transform: uppercase;
}
